---
import type { CollectionEntry } from "astro:content";
import LexiquePaginate from "./LexiquePaginate.astro";

type Props = {
  entry: CollectionEntry<"fiches">;
};
const { entry } = Astro.props;
---

<div class="markdown-content">
  <slot />
</div>
<LexiquePaginate current={entry} />
