---
import Seo from "@components/Seo.astro";
import FicheView from "@components/fiches/FicheView.astro";
import getMDXcomponents from "@components/mdx/getMDXcomponents";
import Base from "@layouts/Base.astro";
import client from "@tina/__generated__/client";
import { getCollection, type CollectionEntry } from "astro:content";

// Pages props type
type Props = {
  entry: CollectionEntry<"fiches">;
  entries: CollectionEntry<"fiches">[];
};

export async function getStaticPaths() {
  const entries = await getCollection("fiches");
  const paths = entries
    .filter((entry) => entry.data.published)
    .map((entry) => {
      const [lang, ...slug] = entry.slug.split("/");
      return {
        params: { lang, slug: slug.join("/") || undefined },
        props: { entry, entries },
      };
    });

  return paths;
}

const { entry } = Astro.props;

let response: any = {};
try {
  await client.queries
    .fiches({
      relativePath: `/${entry.id}`,
    })
    .then((res) => {
      response = res;
    });
} catch (error) {
  // not in edit mode
}

// Use Astro Entry renderer
const { Content } = await entry.render();
---

<Base>
  <Seo title={entry.data.title || "coucou"} slot="seo" />
  <FicheView entry={entry}>
    <h1>{entry.data.title}</h1>
    <Content components={getMDXcomponents} />
  </FicheView>
</Base>
