---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import { Icon } from "astro-icon/components";

type Props = {
  sourceInstanceName: string;
  relativePath: string;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const { sourceInstanceName, relativePath = "todo" } = Astro.props;
let type = "";
switch (sourceInstanceName) {
  case "fiches":
    type = "la fiche";
    break;
  case "lexique":
    type = "la fiche lexique";
    break;

  default:
    type = "la persona";
    break;
}
---

<div class="box mb-8 mt-20 flex flex-col items-center gap-4 p-8 shadow-lg">
  <div class="text-center text-lg font-extrabold">
    {t("contribCTA.errorText")}
  </div>
  <p class="m-0 font-semibold">
    {t("contribCTA.discuss")}
    {type}.
  </p>
  <a
    href={`${t("repo.url")}/blob/${t("repo.branch")}/${sourceInstanceName}/${relativePath}`}
    target={`_blank`}
    class={`btn btn-outline hover:px-5 p-3 flex gap-2 items-center`}
  >
    Voir {type}
    <Icon name="tabler:brand-github-filled" width={16} height={16} />
  </a>
</div>
