---
import logoGreenIT from "@assets/logo-asso.png";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import { Image } from "astro:assets";
import LanguagePicker from "./LanguagePicker.astro";
import Licence from "./Licence.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
  class="mx-auto flex flex-col items-center gap-5 border-t-2 border-neutral-light px-4 pb-4 pt-4 md:flex-row md:justify-between lg:max-w-5xl lg:px-0"
>
  <div>
    <span>© <span id="copyright"></span></span>
    <span>&middot;</span>
    <span>{t("Association Green IT")}</span>
    <span>&middot;</span>
    <ul class="flex gap-4">
      <a
        href={translatePath("/mentions-legales")}
        title={t("Les mentions légales du site.")}
      >
        {t("Mentions légales")}
      </a>
      <LanguagePicker style="light" />
    </ul>
    <Licence />
  </div>
  <div>
    <a
      class="inline-flex items-center gap-[.15rem] no-underline"
      target="_blank"
      rel="noreferrer"
      href="https://www.greenit.fr/"
      title={t("Aller sur le site de l'association Green IT (site externe)")}
    >
      <Image
        width="175"
        height="55"
        src={logoGreenIT}
        alt={t(
          "Logo association Green IT - lien sortant vers le site l'association Green IT",
        )}
      />
    </a>
  </div>
  <script>
    const obj = document.querySelector("#copyright") || undefined;
    if (obj !== undefined) {
      obj.textContent = new Date().getFullYear().toString();
    } else {
    }
  </script>
</footer>
