---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";
import LanguagePicker from "./LanguagePicker.astro";

const { classes, menuState, repoURL } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class:list={[
    "sticky top-0 z-20 flex min-h-[80px] border-b-2 border-neutral-light bg-neutral px-4 lg:px-0",
    classes,
  ]}
>
  <div
    class="mx-auto flex w-full flex-row items-center justify-between lg:max-w-5xl"
  >
    <div class="flex items-center gap-4">
      <div>
        <a
          href={translatePath("/")}
          class="text-inherit text-white no-underline"
          title={t("nav.back.home")}
        >
          <span class="font-normal">
            {t("seo.site_name")}
          </span>
          <br />
          <span class="text-xl font-bold leading-none">{t("nav.refName")}</span>
        </a>
      </div>
    </div>
    <nav aria-label="Navigation principale">
      <ul
        class:list={[
          menuState,
          `fixed right-0 top-0 z-50 flex flex-col gap-4 bg-primary px-10 py-16 lg:relative lg:m-0 lg:flex-row lg:items-center lg:bg-transparent lg:p-0`,
        ]}
      >
        <li class="z-90 fixed right-5 top-5 lg:hidden">
          <!-- <button
                class="text-right text-white text-4xl"
                onClick={() => toggleMenu()}
              >
                &times;
              </button> -->
        </li>
        <li class="!m-0">
          <a
            href={translatePath("/fiches/")}
            class={`text-white text-xl lg:text-base no-underline text-inherit font-medium`}
            title={t("nav.fiches.title")}
          >
            {t("nav.fiches.label")}
          </a>
        </li>
        <li class="!m-0">
          <a
            href={translatePath("/lexique/")}
            class={`text-white text-xl lg:text-base no-underline text-inherit font-medium`}
            title={t("nav.lexique.title")}
          >
            {t("nav.lexique.label")}
          </a>
        </li>
        <li class="!m-0 lg:hidden">
          <a
            href={translatePath("/personnas/")}
            class={`text-white text-xl lg:text-base no-underline text-inherit font-medium`}
            title={t("nav.personnas.title")}
          >
            {t("nav.personnas.label")}
          </a>
        </li>
        <li class="!m-0">
          <!-- <SearchBar /> -->
        </li>
        <li
          class={`!m-0 border border-primary-focus lg:border-zinc-200 lg:h-7`}
        >
        </li>
        <li class="!m-0">
          <a
            href={`${repoURL}/blob/main/CONTRIBUTING.md`}
            class={`text-white text-xl lg:text-base text-inherit font-medium inline-flex gap-[.15rem] items-center no-underline`}
            target="_blank"
            rel="noreferrer"
            title={t("nav.contrib.title")}
          >
            {t("nav.contrib.label")}
          </a>
        </li>
        <li class="!m-0">
          <a
            href={repoURL}
            class={`text-white text-xl lg:text-base no-underline text-inherit font-medium inline-flex gap-[.15rem] items-center`}
            target="_blank"
            rel="noreferrer"
            title={t("nav.contrib.icon.title")}
          >
            <Icon name="tabler:brand-github-filled" width={16} height={16} />
          </a>
        </li>
        <li class="!m-0">
          <LanguagePicker style="dark" />
        </li>
      </ul>
      <div class="relative flex items-center lg:hidden">
        <!-- <button
              class="text-3xl text-white"
              onClick={() => toggleMenu()}
            >
              &#9776;
            </button> -->
      </div>
    </nav>
  </div>
</header>
<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
<style is:global>
  nav {
    display: grid;
    place-items: center;
  }

  .pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;

    /* width: 50%; */
    @apply container mx-auto;
  }

  .pagefind-ui.yellow {
    --pagefind-ui-background: lightyellow;
  }

  .pagefind-ui.red {
    --pagefind-ui-background: peachpuff;
    width: 100%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 9999;
    padding: 0 2em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  }
  .pagefind-ui .pagefind-ui__filter-panel {
    display: none !important;
  }
</style>
