---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { formatDate } from "@js/utils";
import type { CollectionEntry } from "astro:content";
import Card from "./Card";
import FichesMetasDisplay from "./FichesMetasDisplay.astro";

type Props = {
  type: "fiches" | "lexique" | "personnas";
  entry: CollectionEntry<"fiches" | "lexique" | "personnas">;
  headings: Array<{ depth: number; text: string; slug: string }>;
};

const { type = "personna", entry, headings } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="lg:grid lg:grid-cols-[1fr_5fr] lg:gap-4">
  {
    type === Card.FICHES && (
      <>
        <i>
          Mise à jour le{" "}
          {formatDate(entry.data.updatedAt || entry.data.updatedAt)}
        </i>
        <span class="hidden" data-pagefind-filter="type">
          {t("fiches.title")}
        </span>
        <h1 class="flex flex-col items-start gap-2 lg:col-span-2 lg:flex-row lg:items-center lg:gap-0">
          <span class="badge mr-2 whitespace-nowrap border-primary bg-primary">
            {t("refName.min")} {entry.data["refID"]}
          </span>
          <span>{entry.data.title}</span>
        </h1>
      </>
    )
  }
  {
    (type === Card.LEXIQUE || type === Card.PERSONAS) && (
      <h1 class="lg:col-span-2">{entry.data.title}</h1>
    )
  }
  {
    type === Card.LEXIQUE && (
      <span class="hidden" data-pagefind-filter="type">
        {t("lexique.title")}
      </span>
    )
  }
  {
    type === Card.PERSONAS && (
      <span class="hidden" data-pagefind-filter="type">
        {t("personnas.title")}
      </span>
    )
  }
  {
    type === Card.FICHES && (
      <aside>
        <FichesMetasDisplay
          frontmatter={entry.data}
          className=""
          tableOfContents={headings}
        />
        {/*
         */}
      </aside>
    )
  }
  <div
    class:list={[
      "markdown-content",
      {
        "lg:col-span-2": type === Card.LEXIQUE || type === Card.PERSONAS,
      },
    ]}
  >
    <slot />
  </div>
</article>
