---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav>
  <ul>
    <li>
      <a href={translatePath("/fiches/")}>
        {t("nav.fiches.label")}
      </a>
    </li>
    <li>
      <a href={translatePath("/lexique/")}>
        {t("nav.lexique.label")}
      </a>
    </li>
  </ul>
</nav>
