---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const props = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="markdown-content" data-pagefind-body>
  <span class="hidden" data-pagefind-filter="type">
    {t("personnas.title")}
  </span>
  <slot />
</div>
