---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";

const { lexique } = Astro.props;
const { lang } = Astro.params;
const collection = await getCollection("lexique");
const matched = collection
  .filter((item) => item.slug.split("/")[0] === lang)
  .filter(
    (item) => item.slug.split("/")[1].toLowerCase() === lexique.toLowerCase(),
  )[0];

const _lang = getLangFromUrl(Astro.url);
const t = useTranslations(_lang);
---

{
  matched ? (
    <span class="tooltip" title="">
      {lexique}
      <span class="bottom">
        <span>{matched.body}</span>
        <i />
      </span>
    </span>
  ) : (
    <span class="tooltip alert" title="">
      {lexique}
      <span class="bottom">
        <span>
          {t(
            "Définition manquante, vérifier le formatage du lien ou si la fiche existe dans le Lexique.",
          )}
        </span>
        <i />
      </span>
    </span>
  )
}
