---
import BackToTop from "@components/BackToTop.astro";
import DisplayBreakpoint from "@components/DisplayBreakpoint.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import "../styles/global.css";

const _lang = getLangFromUrl(Astro.url);
const { lang } = Astro.params;
const t = useTranslations(_lang);
const translatePath = useTranslatedPath(_lang);

const PUBLIC_BASE = process.env.PUBLIC_BASE
  ? process.env.PUBLIC_BASE + "/"
  : "/";
---

<html lang={lang || _lang}>
  <head>
    <script define:vars={{ PUBLIC_BASE: PUBLIC_BASE }}>
      // Load font with base path
      const fontStyle = `<style>@font-face {
        font-family: "Red Hat Display";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url(${PUBLIC_BASE}fonts/RedHatDisplay-VariableFont_wght.woff2)
          format("woff2");
      }</style>`;
      document.write(fontStyle);
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${PUBLIC_BASE}favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <slot name="seo" />
  </head>
  <body>
    <Header repoURL={process.env.PUBLIC_REPO_URL} />
    <main class="mx-auto my-8 min-h-[400px] px-4 lg:max-w-5xl lg:px-0">
      <slot />
    </main>
    <Footer />
    <BackToTop />
    <DisplayBreakpoint />
  </body>
</html>
