---
import BackToTop from "@components/BackToTop.astro";
import DisplayBreakpoint from "@components/DisplayBreakpoint.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@i18n/utils";
import "../styles/global.css";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <slot name="seo" />
  </head>
  <body>
    <Header repoURL={t("repo.url")} />
    <main class="mx-auto my-8 min-h-[400px] px-4 lg:max-w-5xl lg:px-0">
      <slot />
    </main>
    <Footer />
    <BackToTop />
    <DisplayBreakpoint />
  </body>
</html>
