---
import Card from "@components/Card";
import CardView from "@components/CardView.astro";
import { getCollectionByLang } from "@contentConfig";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const props = Astro.props;
const entries = await getCollectionByLang("personas", lang);
---

<h1>{t("Personas")}</h1>
{/* filters */}
<ul class="wp-list" data-pagefind-ignore>
  {
    entries.map((entry) => (
      <CardView
        display={Card.HORIZONTAL_LAYOUT}
        type={Card.PERSONAS}
        entry={entry}
      />
    ))
  }
</ul>
