---
import Card from "@components/Card";
import { getCollectionByLang } from "@contentConfig";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import type { CollectionEntry } from "astro:content";
import CardView from "../CardView.astro";
import FichesFilter from "./FichesFilter.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const props = Astro.props;
const entries: CollectionEntry<"fiches">[] = await getCollectionByLang(
  "fiches",
  lang,
);
---

<div class="group flex flex-col gap-4">
  <h1>{t("fiches.title")}</h1>
  {/* filters */}
  {entries && <FichesFilter />}

  {/* cards */}
  <ul class="wp-list" data-pagefind-ignore>
    {
      entries.map((entry) => (
        <CardView
          display={Card.VERTICAL_LAYOUT}
          type={Card.FICHES}
          entry={entry}
        />
      ))
    }
  </ul>
</div>
