---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"fiches">;
};

const { entry } = Astro.props;
---

<div>
  <h3>{entry.data.title} - {entry.data.language}</h3>
  <p>{entry.slug}</p>
</div>
