---
import ContributeCTA from "@components/ContributeCTA.astro";
import MarkdownDisplay from "@components/MarkdownDisplay.astro";
import type { CollectionEntry } from "astro:content";
import FicheViewPaginate from "./FicheViewPaginate.astro";

type Props = {
  entry: CollectionEntry<"fiches">;
  headings: Array<{ depth: number; text: string; slug: string }>;
};
const { entry, headings } = Astro.props;
---

<div data-pagefind-body>
  <MarkdownDisplay type="fiches" entry={entry} headings={headings}>
    <slot />
  </MarkdownDisplay>
  <ContributeCTA
    sourceInstanceName="fiches"
    relativePath={`${entry.slug}.md`}
  />
  <FicheViewPaginate current={entry} />
</div>
