---
import Card from "@components/Card";
import { getCollectionByLang } from "@contentConfig";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import CardView from "../CardView.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const props = Astro.props;
const entries = await getCollectionByLang("fiches", lang);
---

<h1>{t("fiches.title")}</h1>
{/* filters */}
<ul class="wp-list" data-pagefind-ignore>
  {
    entries.map((entry) => (
      <CardView
        display={Card.VERTICAL_LAYOUT}
        type={Card.FICHES}
        entry={entry}
      />
    ))
  }
</ul>
