---
const { versions } = Astro.props;
---

<div class="box my-4 border-neutral-transparent lg:my-8">
  <div class="grid w-fit grid-flow-col grid-rows-2 gap-2">
    <div class="text-right font-bold">Ref. Version →</div>
    <div class="text-right font-bold">Ref. BP →</div>
    {
      versions.map((data) => {
        return (
          <>
            <div class="text-center font-semibold">{data.version}</div>
            <div class="text-center">{data.idRef}</div>
          </>
        );
      })
    }
  </div>
</div>
