---
import Card from "@components/Card";
import { getCollectionByLang } from "@contentConfig";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import type { CollectionEntry } from "astro:content";
import CardView from "../CardView.astro";
import FichesFilter from "./FichesFilter.astro";
import FichesTableView from "./FichesTableView.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const props = Astro.props;
const entries: CollectionEntry<"fiches">[] = await getCollectionByLang(
  "fiches",
  lang,
);
---

<div class="group flex flex-col gap-4">
  <h1 class="mb-2">{t("Bonnes pratiques")}</h1>
  <div class="flex flex-col gap-8">
    <nav class="flex items-center gap-4">
      <label for="bt-view" class="btn small-primary-btn" role="button">
        <input
          type="checkbox"
          class="checked:is-checked peer hidden"
          id="bt-view"
        />
        <span class="hidden peer-checked:inline">{t("Vue en cartes")}</span>
        <span class="inline peer-checked:hidden"
          >{t("Vue en tableau (pour copier/coller)")}</span
        >
      </label>
    </nav>
    <div class="flex flex-col gap-4 group-has-[#bt-view:checked]:hidden">
      {/* filters */}
      {entries && <FichesFilter />}

      {/* cards */}
      <ul class="wp-list" data-pagefind-ignore>
        {
          entries.map((entry) => (
            <CardView
              display={Card.VERTICAL_LAYOUT}
              type={Card.FICHES}
              entry={entry}
            />
          ))
        }
      </ul>
    </div>
    <div class="hidden group-has-[#bt-view:checked]:block">
      <FichesTableView entries={entries} />
    </div>
  </div>
</div>
