---
type Validation = {
  rule: string;
  maxValue: number;
};

type Props = {
  validations: Validation[];
};
const { validations } = Astro.props;
---

<h2 id="principe-de-validations">Principe de validation</h2>
<table class="table-auto">
  <thead>
    <tr>
      <th>Le nombre</th>
      <th>est inférieur ou égal à</th>
    </tr>
  </thead>
  <tbody>
    {
      validations.map((validation) => (
        <tr>
          <td>{validation.rule}</td>
          <td class="text-center">{validation.maxValue}</td>
        </tr>
      ))
    }
  </tbody>
</table>
