---
import type { CollectionEntry } from "astro:content";
import FicheViewPaginate from "./FicheViewPaginate.astro";

type Props = {
  entry: CollectionEntry<"fiches">;
};
const { entry } = Astro.props;
---

<div class="markdown-content">
  <slot />
</div>
<FicheViewPaginate current={entry} />
