---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

type Validation = {
  rule: string;
  maxValue: number;
};

type Props = {
  validations: Validation[];
};
const { validations } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 id="principe-de-validations">{t("Principe de validation")}</h2>
<table class="table-auto">
  <thead>
    <tr>
      <th>{t("Le nombre")}</th>
      <th>{t("est inférieur ou égal à")}</th>
    </tr>
  </thead>
  <tbody>
    {
      validations?.map((validation) => (
        <tr>
          <td>{validation.rule}</td>
          <td class="text-center">{validation.maxValue}</td>
        </tr>
      ))
    }
  </tbody>
</table>
